# backup files
.config/polybar/config-backup
.config/polybar/launch-backup.sh

# rofi files not in use
.config/rofi/*
!.config/rofi/powermenu/
.config/rofi/powermenu/*
!.config/rofi/powermenu/powermenu.sh
!.config/rofi/powermenu/card_square.rasi
!.config/rofi/powermenu/styles/cocoa.rasi

