# Set wallpaper
hsetroot -cover ~/Wallpapers/solar-system.jpg

# Set/restore dwall wallpaper after login/reboot
#dwall -s aurora &

# Remap caps lock to escape
setxkbmap -option caps:escape

# Personal keybinds
xbindkeys
